%h2 Select Community for Visualization
%table
  %thead
    %tr
      %th Community Identifier
      %th Number of Members
  %tbody
    %tr
      %td= link_to "1", "/flavorgraphs/?com=1"
      %td 193
    %tr
      %td= link_to "2", "/flavorgraphs/?com=2"
      %td 493
    %tr
      %td= link_to "3", "/flavorgraphs/?com=3"
      %td 603
    %tr
      %td= link_to "4", "/flavorgraphs/?com=4"
      %td 12
    %tr
      %td= link_to "5", "/flavorgraphs/?com=5"
      %td 13
    %tr
      %td= link_to "6", "/flavorgraphs/?com=6"
      %td 18
    %tr
      %td= link_to "7", "/flavorgraphs/?com=7"
      %td 2
    %tr
      %td= link_to "8", "/flavorgraphs/?com=8"
      %td 11
    %tr
      %td= link_to "9", "/flavorgraphs/?com=9"
      %td 4
    %tr
      %td= link_to "10", "/flavorgraphs/?com=10"
      %td 5
    %tr
      %td= link_to "11", "/flavorgraphs/?com=11"
      %td 4
    %tr
      %td= link_to "12", "/flavorgraphs/?com=12"
      %td 3