%h2 Select Community for Visualization
%table
  %thead
    %tr
      %th Community Identifier
      %th Number of Members
  %tbody
    %tr
      %td= link_to "1", "/flavorgraphs"
    %tr
      %td= link_to "2", coms_path(2)
    %tr
      %td= link_to "3", coms_path(3)
    %tr
      %td= link_to "4", coms_path(4)
    %tr
      %td= link_to "5", coms_path(5)
